*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.main{
	background-color: #F0EEEF;
	background-size: cover;
	background-position: center center;
}
.content{
	padding: 280px 400px;
	display: block;
}
.content h1 {
	text-align: center;
	font-weight: 700px
	font-size: 60px;
	color: #323D71;
}
.content img{
	display: block;
	width: 360px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
img:hover{
	background-color: #323D71;
}