*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.main{
	height: 1700px;
	background-color: #F0EEEF;
	background-size: cover;
	background-position: center center;
}
.container{
	display: block;
}
.nav-item a{
	font-size: 18px;
	color: #4a4a4a;
}
.me{
	width: 100%;
	
}
.me h1{
	margin-top: 100px;
	color: #323D71;
	font-weight: 700;
	font-size: 40px;
}
.me .face{
	margin-top: 10px;
	width: 220px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.me .name{
	font-family: 'Gothic A1', sans-serif;
	color: #000000;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-top: 20px;
	float: left;
}
.me .engname{
	color: #000000;
	font-weight: 400;
	font-size: 12px;
	line-height: 25px;
	margin-top: 20px;
	margin-left: 30px;

}

.info{
	background-image: url('../images/introducebar.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100px;
	margin-top: 100px;
}
.info2{
	background-image: url('../images/introducebar.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 80px;
	margin-top: 15px;
}
.info3{
	background-image: url('../images/introducebar.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 165px;
	margin-top: 15px;
}
.info4{
	background-image: url('../images/introducebar.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 120px;
	margin-top: 15px;
}
.info5{
	background-image: url('../images/introducebar.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 140px;
	margin-top: 15px;
}
.info6{
	background-image: url('../images/introducebar.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 360px;
	margin-top: 15px;
}
h3{
	color: #323D71;
	font-weight: 600;
	font-size: 20px;
	margin-left: 12px;
	border-bottom: 1.5px solid #323D71;
	padding-bottom: 6px;
}

.front{
	font-family: 'Gothic A1', sans-serif;
	color: #323D71;
	font-weight: 400;
	font-size: 12px;
	margin-top: 2px;
	padding: 0 15px;
	float: left;
	line-height:20px;
}
.back{
	font-family: 'Gothic A1', sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 12px;
	margin-top: 2px;
	padding: 0 15px;
	float: left;
	line-height:20px;
}
.back2{
	margin-top: 2px;
	padding: 0 15px;
	float: left;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
	text-align: center;
	font-size: 9px;
	color: white;
	background: gray;
}

@media (min-width:768px){
	.main{
		height: 1500px;
	}	
}

@media (min-width:992px){
	.main{
		height: 750px;
	}

	.info5{
	margin-top: 100px;
}	
}